1Ô∏è‚É£ Apni 5 pasandeeda phalon ki list banao aur har phal ko loop se print karo.

In [25]:
Fruits=["Mango","Apple","Grapes","Anar","Strawberry"]
for Favorite_food in Fruits:
  print(Favorite_food)

Mango
Apple
Grapes
Anar
Strawberry

2Ô∏è‚É£ Ek tuple banao jisme 3 cheezein hon: naam, umar aur shehar. Har ek ko alag alag print karo.

In [26]:
Tuple=("Abdullah",17,"Gujranwala")
print("Naam =",Tuple[0])
print("Age =",Tuple[1])
print("City =",Tuple[2])

Naam = Abdullah
Age = 17
City = Gujranwala

4Ô∏è‚É£ List me nayi cheezein add karo aur kuch delete karo. Update list print karo.

In [27]:
Fruits=["Mango","Apple","Grapes","Anar","Strawberry"]
Fruits.append("Banana")
Fruits.append("Amrood")
Fruits.remove("Apple")
print("Updated Fruits =",Fruits)

Updated Fruits = ['Mango', 'Grapes', 'Anar', 'Strawberry', 'Banana', 'Amrood']

5Ô∏è‚É£ List ke items ki ginti loop ke zariye karo aur len() se bhi print karo.

In [28]:
Fruits=["Mango","Apple","Grapes","Anar","Strawberry"]
count = 0
for items in Fruits:
  count += 1
print("loop ke zariya ginti =",count)
print("len() ka zariya ginti =",len(Fruits))

loop ke zariya ginti = 5
len() ka zariya ginti = 5

6Ô∏è‚É£ Tuple me koi value mojood hai ya nahi, ise in keyword ke zariye check karo.

In [29]:
Tuple=("Abdullah",17,"Gujranwala")
if "Gujranwala" in Tuple:
  print("Haan 'Gujranwala' Tuple ma majood ha")
else:
  print ("Nahi 'Gujranwala' Tuple ma nahi ha")
if "Honda" in Tuple:
  print("Haan 'Honda' Tuple ma majood ha")
else:
  print("Nahi 'Honda' Tuple ma majood nai ha")

Haan 'Gujranwala' Tuple ma majood ha
Nahi 'Honda' Tuple ma majood nai ha

8Ô∏è‚É£ Ek program likho jo list ko tuple me convert kare aur dono print kare.

In [34]:
Fruits=["Mango","Apple","Grapes","Anar","Strawberry"]
Fruits_Tuple = tuple(Fruits)
print("List =",Fruits)
print("Tuple =",Fruits_Tuple)

List = ['Mango', 'Apple', 'Grapes', 'Anar', 'Strawberry']
Tuple = ('Mango', 'Apple', 'Grapes', 'Anar', 'Strawberry')

üîü Ek tuple banao jisme mixed data ho. Loop ke zariye har item ka type print karo.

In [44]:
Mix_Tuple=("Abdullah",12,14.9,True,["Aam","Mango"])
for items in Mix_Tuple:
  print(items," ki Type ya ha =",type(items))

Abdullah  ki Type ya ha = <class 'str'>
12  ki Type ya ha = <class 'int'>
14.9  ki Type ya ha = <class 'float'>
True  ki Type ya ha = <class 'bool'>
['Aam', 'Mango']  ki Type ya ha = <class 'list'>