1Ô∏è‚É£ Variables a = 15 aur b = 4 banayein. Tamam arithmetic operations perform karein aur print karein.

In [ ]:
a = 15
b = 4
print("a+b =",a+b)
print("a-b =",a-b)
print("a*b =",a*b)
print("a/b =",a/b)
print("a//b =",a//b)
print("a**b =",a**b)

a+b = 19
a-b = 11
a*b = 60
a/b = 3.75
a//b = 3
a**b = 50625

2Ô∏è‚É£ Comparison operators ka istemal karte hue a aur b ka muqabla karein aur natayij print karein.

In [ ]:
a = 5
b = 8
print("a==b =",a==b)
print("a!=b =",a!=b)
print("a<b =",a<b)
print("a>b =",a>b)
print("a<=b =",a<=b)
print("a>=b =",a>=b)

a==b = False
a!=b = True
a<b = True
a>b = False
a<=b = True
a>=b = False

3Ô∏è‚É£ Boolean variables x = True aur y = False banayein. Logical operations perform karein aur results print karein.

In [ ]:
x = True
y = False
print("x and y =",x and y)
print("x or y =",x or y)
print ("NOT x =",not x)
print("NOT y =",not y)

x and y = False
x or y = True
NOT x = False
NOT y = True

 4Ô∏è‚É£Assignment operators (+=, -=, *=, waghera) ka istemal karte hue aik variable par operations karein aur updated values print karein.

In [ ]:
x = 8
print("x =", x)

x += 3
print("x += 3 ‚Üí", x)

x -= 2
print("x -= 2 ‚Üí", x)

x *= 6
print("x *= 6 ‚Üí", x)

x /= 2
print("x /= 2 ‚Üí", x)

x //= 2
print("x //= 2 ‚Üí", x)

x = 8
x += 3 ‚Üí 11
x -= 2 ‚Üí 9
x *= 6 ‚Üí 54
x /= 2 ‚Üí 27.0
x //= 2 ‚Üí 13.0

5Ô∏è‚É£ is aur is not operators ka istemal karte hue do barabar values ke sath check karein.

In [ ]:
a = 2
b = 2
print("a is b =",a is b)
print("a is not b =",a is not b)

a is b = True
a is not b = False

6Ô∏è‚É£ Kisi string mein in aur not in operators ka istemal kar ke lafzon ki mojoodgi check karein.

In [ ]:
sentence= "Phython language is very intresting"
print("Phython " in sentence)
print("very " in sentence)
print("Abdullah " not in sentence)

True
True
True

7Ô∏è‚É£ keyword module ko import karein aur tamam Python keywords ko print karein.

In [ ]:
import keyword
print("keyword list is:")
print(keyword.kwlist)

keyword list is:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

8Ô∏è‚É£ Variables name, age, height declare karein aur unki values aur types print karein.

In [ ]:
name = "Abdullah"
age = 17
height = 4.8
print("name",name,type(name))
print("age",age,type(age))
print("height",height,type(height))

name Abdullah <class 'str'>
age 17 <class 'int'>
height 4.8 <class 'float'>

9Ô∏è‚É£ 5 valid aur 3 invalid variable names likhein (har aik ke sath comment bhi dein).

In [ ]:
name = "Abdullah"   #ya letter sa start ho raha ha
my_age = 17         # is ma underscore ka istamal hova ha
student1 = "abdullah"  # is ma number ka istamal kiya gaya ha lakin baad ma
_collage = "Elite collage"    #underscore sa start ho raha ha
a = 5000                 # ak lafaz ka variable banaya ha



2name = "Abdullah"      #number sa start ho raha ha
my age = 17          # is ma space di ha
my-name = "Abdullah"   # hyphen dal diya ha



üîü Aik hi line mein multiple values assign karein aur type() aur id() ka istemal karke unhein inspect karein.

In [ ]:
b , i , s = 20 , 1.5 ,"Abdullah"
print("b =",b, ",type =",type(b),",id =",id(b))
print("i =",i, ",type =",type(i),",id =",id(i))
print("s =",s, ",type =",type(s),",id =",id(s))

b = 20 ,type = <class 'int'> ,id = 10758344
i = 1.5 ,type = <class 'float'> ,id = 137150540852976
s = Abdullah ,type = <class 'str'> ,id = 137150539025648