1Ô∏è‚É£ Apna naam aik variable mein store karein aur loop ke zariye har character ko print karein.

In [ ]:
my_name = "Abdullah"
for harf in my_name:
    print(harf,end=",")

A,b,d,u,l,l,a,h,

2Ô∏è‚É£ Aik string ke pehlay 4 characters ko slicing ka istemal karte hue print karein.

In [ ]:
my_string="Abdullah"
print(my_string[:4])

Abdu

3Ô∏è‚É£ User se aik number string ki form mein input lein, usay int mein convert karein, us mein 10 add karein aur result print karein.

In [ ]:
num_string="25"
num_integer=int(num_string)
result=(num_integer+10)
print(result)

35

4Ô∏è‚É£ Aik list banayein jisme strings hon jaise ["10", "20", "30"], in sab ko integers mein convert karein aur nayi list print karein.**bold text**

In [ ]:
my_list=["11","22","33",]
my_int=[int(num)for num in my_list]
print(my_int)

[11, 22, 33]

 5Ô∏è‚É£Aik string mein check karein ke kya ‚ÄúPython‚Äù mojood hai ya nahi using in, aur message print karein

In [ ]:
text = "mujay python passand ha"
if "python" in text:
 print("G Python Text Ma Ha")

G Python Text Ma Ha

6Ô∏è‚É£ Aik string banayein aur usay uppercase, lowercase, aur title case mein convert karein.

In [ ]:
text="hello"
upper_text = text.upper()
lower_text = text.lower()
title_text = text.title()
print("upper text=",upper_text)
print("lower text=",lower_text)
print("title text=",title_text)

upper text= HELLO
lower text= hello
title text= Hello

7Ô∏è‚É£ type() ka istemal kar ke string se integer mein conversion se pehlay aur baad mein data type display karein.

In [ ]:
my_string="20"
print("type is my string =",type(my_string))
my_integer=int(my_string)
print("type is my integer =",type(my_integer))

type is my string = <class 'str'>
type is my integer = <class 'int'>

8Ô∏è‚É£ User se naam aur age input lein. Age ko int mein convert karein, agar age 18 se zyada hai to eligibility ka message print karein.

In [ ]:
name = "Abdullah"
age = "17"
age = int(age)
if age > 18:
 print(name,"app eligible han")
else:
  print(name,age,"app eligible nahi han")

Abdullah 17 app eligible nai han

9Ô∏è‚É£ Aik mixed-case text ka variable banayein. Check karein ke kya text uppercase mein hai aur result print karein.

In [ ]:
text = "HeLLo WOrLD"
is_upper=text.isupper()
print("Text =",text)
print("ya kaya uppercase hai =",is_upper)

Text = HeLLo WOrLD
ya kaya uppercase hai = False

üîü Aik string mein numbers likhein, usay float aur int mein convert karein aur har conversion ke sath us ka type print karein.

In [ ]:
string = "17.50"
my_float = float(string)
my_integer = int(my_float)
print("Real String =",string,":",type(string))
print("Float bananay ka baad =",my_float,":",type(my_float))
print("integer bananay ka baad =",my_integer,":",type(my_integer))

Real String = 17.50 : <class 'str'>
Float bananay ka baad = 17.5 : <class 'float'>
integer bananay ka baad = 17 : <class 'int'>