##1Ô∏è‚É£ String, integer, float aur boolean qism ke variables banao. Unki value aur type print karo.

In [ ]:
name = "Abdullah"
age = 17
height = 5.3
student = True
print(type(name),name ,type(age),age,type(height),height ,type(student),student)

<class 'str'> Abdullah <class 'int'> 17 <class 'float'> 5.3 <class 'bool'> True

# 2Ô∏è‚É£   5 phalon ki list banao aur print karo.

In [ ]:
fruits =["apple,banana, orange, anar"]
print(type(fruits),fruits)

<class 'list'> ['apple,banana, orange, anar']

# 3Ô∏è‚É£ 3 pasandeeda numbers ki tuple banao aur print karo.

In [ ]:
favorite_number = (11 ,44 ,56)
print(favorite_number)

(11, 44, 56)

# 4Ô∏è‚É£ Ek dictionary banao jisme keys hon: name, age, city ‚Äì aur tamam key-value pairs print karo.

In [ ]:
information = {"name":"abdullah","age": 17,"city":"gujranwala"}
print(type(information),information)

<class 'dict'> {'name': 'abdullah', 'age': 17, 'city': 'gujranwala'}

# 5Ô∏è‚É£ Unique hobbies ka set banao.

In [ ]:
hobbies={"gaming","tiktoking","typing",}
print(type(hobbies),hobbies)

<class 'set'> {'tiktoking', 'gaming', 'typing'}

# 6Ô∏è‚É£ 5 students ke naamon ki list banao aur print karo.

In [ ]:
name=["abdullah","haider","noman","safiullah","zain ali",]
print(type(name),name)

<class 'list'> ['abdullah', 'haider', 'noman', 'safiullah', 'zain ali']

# 7Ô∏è‚É£ 3 programming languages aur unke banane walon (creators) ki dictionary banao au

In [ ]:
languages = {"Python": "Guido", "Java": "Gosling", "C++": "Bjarne"}
print(languages)

{'Python': 'Guido', 'Java': 'Gosling', 'C++': 'Bjarne'}

# 8Ô∏è‚É£ 3 float numbers store karo aur unka average nikalo.

In [ ]:
numbers = [5.5, 7.2, 8.3, 6.0, 9.1]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 7.220000000000001

# 9Ô∏è‚É£4 shehron ki tuple banao.

In [ ]:
Cites=("pindi","gujranwala","lahore","pasoor")
print(type(Cites),Cites)

<class 'tuple'> ('pindi', 'gujranwala', 'lahore', 'pasoor')

# üîü Kisi string mein jo vowels hain unka set banao aur print karo.

In [ ]:
text = "abdullah"
vowels = {ch for ch in text if ch in"a,e,i,o,u"}
print(vowels)

{'u', 'a'}